// Header
$header-bg-color: dodgerblue;

// Menu
$menu-bg-color: rgb(19, 19, 19);

// Main
$main-bg-color: #f3f3f3;
$main-font-color: black;

// Main container
$main-container-bg-color: white;
$main-badge-bg-color: lightskyblue;
$shadow-color: rgba(0, 0, 0, 0.7);

// Items border
$items-border-outside: black;
$items-border-inside: grey;

// Product Quantity
$badge-bg-color: dodgerblue;
$font-color-badge: white;

// Product Name
$product-font-color: grey;

// Buttons Increment/decrement
$btn-increment-bg-color: springgreen;
$btn-decrement-bg-color: tomato;
$btn-increment-font-color: black;
$btn-decrement-font-color: white;

// Empty Text
$empty-bg-color: tomato;
$empty-font-color: white;

// Button Add
$btn-add-bg-color: springgreen;
$btn-add-font-color: white;
