@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

// Fonts
$font-header: "Poppins", Arial, sans-serif;
$font-menu: "Poppins", Arial, sans-serif;
$font-main: "Roboto", Arial, sans-serif;
$font-main-header: "Noto Sans", Arial, sans-serif;

// Sizes
$font-size-header: 1.5rem;
$font-size-menu: 1rem;
$font-size-menu-tablet: 1.3rem;
$font-size-main-header: 1.3rem;
$font-size-main-container-header: 2.4rem;
$font-size-btn: 1.3rem;
$font-size-product: 1.8rem;
$font-size-empty: 1.8rem;
$font-size-btn-add: 1.5rem;
$font-size-label: 1.5rem;
$font-size-novo-produto: 1.3rem;
