// Header
$header-altura: 100px;

// Menu
$menu-altura: 50px;

// Main
$main-container-largura: 500px;
$main-container-border-radius: 20px;

// Items
$item-altura: 100px;
$badge-border-radius: 20px;

// Buttons
$buttons-border-radius: 10px;

// Button ADD
$btn-add-border-radius: 30px;

// Input novo item
$novo-produto-border-radius: 30px;
